

body {
  background-color: rgb(59, 59, 59);
}

h1, h2, h3, button{
  margin: 0;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
  color: white;
  font-family: monospace;
}
h1{
  font-size:10vw;
}

.centered-flex-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}


button{
  background-color: rgb(255, 105, 18);
  color: white;
  font-size: 2.5vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  border-radius: 30px;
  border-style: none;
}


/*
colors
*/
.green{
  background-color: rgb(0, 214, 0);
}

.red{
  background-color: rgb(255, 41, 41);
}
.drop-shadow {
  box-shadow: 0px 5px 5px 0px black;
}

img{
  height: auto;
  max-width: 100%;
  border-radius: 30px;
  border-color: white;
  border-width: 20px;
}

.image-container p{
  text-align: center;
}

.tank_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  padding: 15px;
  background-color: rgba(26, 26, 26, 0.301);
  border-radius: 30px;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  margin-top:2.5vw;
  margin-bottom: 2.5vw;
}
.tank_card > h3{
  font-size: 2.5vw;
}
.flex-row> button{
  font-size: 1.75vw;
  padding-left: 1.75vw;
  padding-right: 1.75vw;
  margin-left: 1.25vw;
  margin-right:1.25vw;
}
.flex-row{
  display:flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-content: space-around
}
.flex-column{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row: auto;
  justify-content: center;
}
.grid-container > p{
  margin: 0.5vw;
  font-size: 1.15vw;
}

.modal-template{
  background-color: rgba(48, 48, 48, 0.815);
}

.edit-modal{
  margin: auto;
  position:fixed;
  border-radius: 30px;
  background-color: rgb(24, 24, 24);
  width: 50vw;
 
}

.edit-modal > label{
  font-family: monospace;
  font-size: 1.75vw;
  color: white;
}
.edit-modal input{
  font-size: 1.75vw;
  width: 20vw;
  border-style: none;
  border-radius: 30px;
}

.edit-modal h2{
  font-size: 3vw;
}

.flex-row{
  margin-top: 1vw;
  margin-bottom: 1vw;
}

/* id's */
#add-modal{
  position: fixed;
  top:-100%;
  right: 25%;
  transition: 0.2s;
  opacity: 0%
}
